{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/chatroom_style.css' %}">
		<title>Anonymous Chatroom</title>
	</head>
	<body>
        <a href="/chatroom/leave/" class="right">Leave</a>
		<h2>Chatroom {{ chatroom.id }} - User: {{ user.id }}</h2>
		<div id="getMessages">
            <div id="status"></div>
            <div id="response"></div>
            <div id="timestamp"></div>
        </div>

        <div class="row white">
            <div class="columns large-12">
                <form method="POST" id="message-form">
                    {% csrf_token %}
                    <div class="fieldWrapper" id="the_message">
                        <input type="text" name="message" id="message-text" placeholder="Please enter your message.">
                        <input id="send_button" type="submit" value="Post" class="tiny button">
                    </div>
                    <div id="results"></div>
                </form>
            </div>
        </div>
	</body>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script>
        $(function(){
            get_messages("{{ chatroom.id }}");
            var send = document.getElementById("send_button");
            send.addEventListener("click", function(e){
                e.preventDefault();
                var inputBox = document.getElementById("message-text");
                send_message({{user.id}}, {{chatroom.id}}, inputBox.value);
                inputBox.value = "";
                 });
        });
        window.onbeforeunload = function (event) {
            var message = "Ri!";
            $.post('http://127.0.0.1:8000/chatroom/leave/', {"uid": {{user.id}} ,"cid": {{chatroom.id}} });
            return message;

        }
</script>