{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script src"{% static 'scripts/main.js' %}">
// window.onload = getLocation();

</script>
<title>bbman</title>
</head>
<script>
if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(showPosition);
}
else{
    window.location.href = '/chatroom/create?x=-1&y=-1';
}
function showPosition(position) {
    window.location.href = '/chatroom/create?x=' + position.coords.latitude + '&y=' + position.coords.longitude;
}
        // getLocation();
</script>
</html>