{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>bbman</title>
    <script>
        var startPos;
        var geoSuccess = function(position) {
            startPos = position;
            window.location.href = '/chatroom/create?x=' + startPos.coords.latitude + '&y=' + startPos.coords.longitude;
{#            document.getElementById('startLat').innerHTML = startPos.coords.latitude;#}
{#            document.getElementById('startLon').innerHTML = startPos.coords.longitude;#}
          };
        navigator.geolocation.getCurrentPosition(geoSuccess);
{#        if (navigator.geolocation){#}
{#            navigator.geolocation.getCurrentPosition(showPosition);#}
{#        }#}
{#        else{#}
{#            window.location.href = '/chatroom/create?x=-1&y=-1';#}
{#        }#}
{#        function showPosition(position) {#}
{#            window.location.href = '/chatroom/create?x=' + position.coords.latitude + '&y=' + position.coords.longitude;#}
{#        }#}
    </script>
</head>
</html>