<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script>
            $(function(){
               getData(); 
            });
            var getData = function() {
                $.ajax({
                    type: "GET",
                    url: 'http://127.0.0.1:8000/chatroom/get/',
                    dataType: 'json',
                    // Process the data
                    success: function(responseObject) {
                        // Display the JSON query status
                        document.getElementById("status").innerHTML = "Status: " + responseObject.status;
                        /* Put the elements back to the DOM */
                        var messages = document.getElementById("response");
                        while(messages.firstChild) {
                            messages.removeChild(messages.firstChild);
                        }
                        // Display the JSON query messages
                        for(i = 0; i < responseObject.resp.length; i++) {
                            // Create an entry for the message
                            var messageContentP = document.createElement("p");  // <p>
                            var messageContentText = document.createTextNode("Message " + i.toString() + ": " + responseObject.resp[i][0]); // Get the text to display
                            /* Put the text into the <p> element */
                            messageContentP.appendChild(messageContentText);
                            var messageType = responseObject.resp[i][1];
                            /* Set the color based on the message type */
                            if(messageType == "n") {
                                messageContentP.style.color = "green";
                            } else {
                                messageContentP.style.color = "grey";
                            }
                            messages.appendChild(messageContentP);
                        }
                        /* Get the current timestamp */
                        var timestamp = Date.now();
                        document.getElementById("timestamp").innerHTML = timestamp.toString();
                    }
                });
            };
            setInterval(getData, 500);
        </script>
    </head>
    <body>
        <div id="getMessages">
            <div id="status"></div>
            <div id="response"></div>
            <div id="timestamp"></div>
        </div>
    </body>
</html>